<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/head') %>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
      <%- include('../common/navigation') %>
      </nav>
    <h2>Welcome to Home page</h2>
    <p>This is the home page.</p>

 <footer>
  <%- include('../common/footer') %>
 </footer>
</body>
</html>