<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head') %>
</head>
<body>
    <nav>
        <%- include('../common/navigation') %>
    </nav>
   
    <h2>Welcome to Program page</h2>

    <main>
        <%- include('../common/colum') %>
    </main>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>